### 01_ETL

In [2]:
import os
import fastparquet
import pandas as pd
from lib import personalised_graphics


#yelp_checkin = pd.read_parquet("data/yelp/checkin.parquet")
#yelp_tip = pd.read_parquet("data/yelp/tip.parquet")

Cannot find header.dxf (GDAL_DATA is not defined)

##### sources table

In [5]:
# Crear un DataFrame vacío con las columnas especificadas
sources = pd.DataFrame(columns=["source_id", "source"])

# Load sources
sources_list = ["yelp", "google maps"]
for i, source in enumerate(sources_list):
    new_row = {"source_id": i, "source": source}
    sources.loc[len(sources)] = new_row

# export data
sources.to_csv("data/sources.csv", index=False)
sources.to_parquet("data/sources.parquet", index=False)

sources

   source_id       source
0          0         yelp
1          1  google maps

##### tourist_attraction table

In [17]:
tourist_attraction = pd.read_csv("data/tourist_attraction.csv")

tourist_attraction

,atraccion,ciudad,estado
0,Gran Cañón del Colorado,Parque Nacional del Gran Cañón,Arizona
1,Monument Valley,Oljato-Monument Valley,Arizona
2,Parque Nacional Saguaro,Tucson,Arizona
3,Antelope Canyon,Page,Arizona
4,Sedona,Sedona,Arizona
...,...,...,...
466,Museo Nacional del Viento del Oeste,Cody,Wyoming
467,Medicine Bow National Forest,Bosque Nacional Medicine Bow,Wyoming
468,Parque Estatal Curt Gowdy,Curt Gowdy State Park,Wyoming
469,Parque Estatal Sinks Canyon,Sinks Canyon State Park,Wyoming
470,Museo de Arte de Wyoming,Cheyenne,Wyoming

#### YELP

##### bussines table

In [3]:
# import data
yelp_business = pd.read_pickle("data/yelp/business.pkl")

# drop empty columns
yelp_business = yelp_business.iloc[:, :13]
# drop irrelevant data and
yelp_business.drop(columns=["is_open"])
# rename columns
yelp_business.rename(columns={'stars': 'avg_rating', 'review_count	': 'num_of_reviews'}, inplace=True)
# create column to keep track of data source
yelp_business["source_id"] = 0
# reorder dataset
columns_order = ["business_id", "name", "address", "post_code", "city", "state", "latitude", "longitude", "categories", "attributes", "avg_rating", "num_of_reviews", "url", "source"]
yelp_business = yelp_business.reindex(columns=columns_order)

# export data
yelp_business.to_csv("data/yelp_bussines.csv", index=False)
yelp_business.to_parquet("data/yelp_business.parquet", index=False)

,business_id,name,address,post_code,city,state,latitude,longitude,categories,attributes,avg_rating,num_of_reviews,url,source
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",NaN,Santa Barbara,NaN,34.426679,-119.711197,"Doctors, Traditional Chinese Medicine, Naturop...",{'ByAppointmentOnly': 'True'},5.0,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,NaN,Affton,NaN,38.551126,-90.335695,"Shipping Centers, Local Services, Notaries, Ma...",{'BusinessAcceptsCreditCards': 'True'},3.0,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,NaN,Tucson,NaN,32.223236,-110.880452,"Department Stores, Shopping, Fashion, Home & G...","{'BikeParking': 'True', 'BusinessAcceptsCredit...",3.5,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,NaN,Philadelphia,CA,39.955505,-75.155564,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'RestaurantsDelivery': 'False', 'OutdoorSeati...",4.0,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,NaN,Green Lane,MO,40.338183,-75.471659,"Brewpubs, Breweries, Food","{'BusinessAcceptsCreditCards': 'True', 'Wheelc...",4.5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,NaN,Edmonton,IN,53.468419,-113.492054,"Nail Salons, Beauty & Spas","{'ByAppointmentOnly': 'False', 'RestaurantsPri...",3.0,NaN,NaN,NaN
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,NaN,Nashville,DE,36.115118,-86.766925,"Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'BusinessAcceptsCreditCards': 'True', 'Restau...",4.0,NaN,NaN,NaN
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",NaN,Indianapolis,AB,39.908707,-86.065088,"Shopping, Jewelry, Piercing, Toy Stores, Beaut...","{'RestaurantsPriceRange2': '1', 'BusinessAccep...",3.5,NaN,NaN,NaN
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,NaN,Edwardsville,AB,38.782351,-89.950558,"Fitness/Exercise Equipment, Eyewear & Optician...","{'BusinessParking': '{'garage': False, 'street...",4.0,NaN,NaN,NaN
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,NaN,Apollo beach,TN,27.771002,-82.39491,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'WheelchairAccessible': 'True', 'BusinessAcce...",4.5,NaN,NaN,NaN

##### reviews table

###### 3m 15s

In [7]:
# import data
yelp_reviews = pd.read_parquet("data/yelp/review.parquet")

# filtrate relevant data
columnas_yelp = ['review_id', 'user_id', 'business_id', 'date', 'text', 'stars', 'useful']
yelp_reviews = yelp_reviews[columnas_yelp].copy()
# create column to keep track of data source
yelp_reviews['source_id'] = 0

# export data
yelp_reviews.to_csv("data/yelp_reviews.csv", index=False)
yelp_reviews.to_parquet("data/yelp_reviews.parquet", index=False)

yelp_reviews

,review_id,user_id,business_id,date,text,stars,useful,source_id
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,2018-07-07 22:09:11,"If you decide to eat here, just be aware it is...",3.0,0,0
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,2012-01-03 15:28:18,I've taken a lot of spin classes over the year...,5.0,1,0
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,2014-02-05 20:30:30,Family diner. Had the buffet. Eclectic assortm...,3.0,0,0
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,2015-01-04 00:01:03,"Wow! Yummy, different, delicious. Our favo...",5.0,1,0
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,2017-01-14 20:54:15,Cute interior and owner (?) gave us tour of up...,4.0,1,0
...,...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,2014-12-17 21:45:20,Latest addition to services from ICCU is Apple...,5.0,1,0
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,2021-03-31 16:55:10,"This spot offers a great, affordable east week...",5.0,2,0
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,2019-12-30 03:56:30,This Home Depot won me over when I needed to g...,4.0,1,0
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,2022-01-19 18:59:27,For when I'm feeling like ignoring my calorie-...,5.0,1,0
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,2018-01-02 22:50:47,Located in the 'Walking District' in Nashville...,3.0,10,0

##### users table

In [8]:
# import data
yelp_users = pd.read_parquet("data/yelp/user.parquet")

# filtrate relevant data
columns_to_keep = ['user_id', 'name', 'review_count', 'useful', 'cool']
yelp_users = yelp_users[columns_to_keep]
# handle duplicated values
duplicados = yelp_users[yelp_users.duplicated()]
yelp_users.drop_duplicates(inplace=True)
# create column to keep track of data source
yelp_users['source_id'] = 0

# export data
yelp_users.to_csv("data/yelp_users.csv")
yelp_users.to_parquet("data/yelp_users.parquet", index=False)

yelp_users

,user_id,name,review_count,useful,cool,source_id
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,7217,5994,0
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,43091,27281,0
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2086,1003,0
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,512,299,0
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,29,7,0
...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,7,0,0
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,0,0,0
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,1,0,0
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,0,0,0
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,0,0,0

#### GOOGLE MAPS

##### business table

###### 1m 54s

In [3]:
google_business = pd.read_parquet('data/google/metadata_sitio.parquet')

# Agrupar columnas MISC
google_business['attributes'] = google_business[['MISC.Service options',
       'MISC.Health & safety', 'MISC.Accessibility', 'MISC.Planning', 'MISC',
       'MISC.Payments', 'MISC.Highlights', 'MISC.Offerings', 'MISC.Amenities',
       'MISC.Atmosphere', 'MISC.Crowd', 'MISC.From the business',
       'MISC.Popular for', 'MISC.Dining options', 'MISC.Getting here',
       'MISC.Recycling', 'MISC.Activities', 'MISC.Lodging options']].apply(lambda row: ', '.join(row.dropna().astype(str)), axis=1)

# Eliminar las columnas agrupadas
columns_to_drop = ['MISC.Service options',
       'MISC.Health & safety', 'MISC.Accessibility', 'MISC.Planning', 'MISC',
       'MISC.Payments', 'MISC.Highlights', 'MISC.Offerings', 'MISC.Amenities',
       'MISC.Atmosphere', 'MISC.Crowd', 'MISC.From the business',
       'MISC.Popular for', 'MISC.Dining options', 'MISC.Getting here',
       'MISC.Recycling', 'MISC.Activities', 'MISC.Lodging options']
google_business.drop(columns=columns_to_drop, inplace=True)

# 
google_business.rename(columns={'gmap_id': 'business_id', 'address': 'location', 'category': 'categories'}, inplace=True)
google_business.drop(columns=["description", "relative_results", "price", "hours", "state"], inplace=True)

# 
def extract_location_info(row):
    if row["location"] is not None:
        loc_parts = row["location"].split(",")
        if len(loc_parts) >= 4:
            parts = loc_parts[3].strip().split(" ")
            if len(parts) >= 2:
                return pd.Series({
                    "address": loc_parts[1].strip(),
                    "city": loc_parts[2].strip(),
                    "state": parts[0].strip(),
                    "post_code": parts[1].strip()
                })
    return pd.Series({"address": None, "city": None, "state": None, "post_code": None})

#
google_business[["address", "city", "state", "post_code"]] = google_business.apply(extract_location_info, axis=1)
google_business.drop(columns=["location"], inplace=True)

#
google_business["source"] = "google_maps"

#
columns_order = ["business_id", "categories", "name", "address", "post_code", "city", "state", "latitude", "longitude", "url", "attributes", "avg_rating", "num_of_reviews", "source"]
google_business = google_business.reindex(columns=columns_order)

# export data
google_business.to_csv("data/google_business.csv", index=False)
google_business.to_parquet("data/google_business.parquet", index=False)

google_business

,business_id,categories,name,address,post_code,city,state,latitude,longitude,url,attributes,avg_rating,num_of_reviews,source
0,0x88f16e41928ff687:0x883dad4fd048e8f8,[Pharmacy],Porter Pharmacy,129 N Second St,31014,Cochran,GA,32.388300,-83.357100,https://www.google.com/maps/place//data=!4m2!3...,"['In-store shopping', 'Same-day delivery'], ['...",4.9,16,google_maps
1,0x87ccd3297badbb3b:0x18e80a5c9de19f16,"[Roofing contractor, Construction company, Ser...","Elite Exteriors Roofing & Restoration, Inc.",None,None,None,None,45.597481,-127.269699,https://www.google.com/maps/place//data=!4m2!3...,,4.2,18,google_maps
2,0x86330338d4921e25:0x4af02600facc4465,[Plumber],Harper's Plumbing,400 S Front St,71743,Gurdon,AR,33.918058,-93.155579,https://www.google.com/maps/place//data=!4m2!3...,,5.0,1,google_maps
3,0x86338365e22e037b:0xf2ec124da3ecdfe6,"[Salvage yard, Auto glass shop, Auto parts sto...",Wylie Glass and Salvage Inc,1501 W 3rd St,71801,Hope,AR,33.664719,-93.606783,https://www.google.com/maps/place//data=!4m2!3...,['Staff required to disinfect surfaces between...,4.3,16,google_maps
4,0x8632dfdb9faed6a3:0x506f0e73cb79c8f2,"[Convenience store, Cosmetics store]",Wholesale Beauty & Convenience,1750 Pine St,71923,Arkadelphia,AR,34.123242,-93.071387,https://www.google.com/maps/place//data=!4m2!3...,"['In-store shopping', 'Delivery'], ['Mask requ...",2.9,8,google_maps
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274996,0x880fd2616a1097cb:0xa0818059adee7a49,[Facial spa],Skinsational Advanced Skin Care,1210 W Granville Ave,60660,Chicago,IL,41.994844,-87.661010,https://www.google.com/maps/place//data=!4m2!3...,"['Appointment required', 'Mask required', 'Sta...",4.2,24,google_maps
274997,0x880fa91eb54ab89f:0xc4549b9ada136a45,"[Bubble tea store, Ice cream shop]",Lady Sweet Cafe,277 Barrington Rd,60107,Streamwood,IL,42.038435,-88.143786,https://www.google.com/maps/place//data=!4m2!3...,"['Takeout'], ['Fast service'], ['Coffee'], ['G...",3.4,8,google_maps
274998,0x87b4fd22cd86a999:0x5f5f2c53333b3bbb,[Gift shop],Rustic Okie Decor,1738 E Carl Albert Pkwy,74501,McAlester,OK,34.925735,-95.743654,https://www.google.com/maps/place//data=!4m2!3...,"['In-store pickup', 'In-store shopping'], ['Wh...",5.0,5,google_maps
274999,0x87b4fce3570ca3c7:0xa7ce51f2467b76dc,[Housing development],Westridge Village,800 W Choctaw Ave,74501,McAlester,OK,34.934665,-95.782822,https://www.google.com/maps/place//data=!4m2!3...,['Wheelchair accessible entrance'],4.0,33,google_maps
275000,0x87b6ec922c821a01:0x2aa37bed22e94fd9,[Doctor],Shannon Marshal APP,1265 S Utica Ave # 300,74104,Tulsa,OK,36.144788,-95.966932,https://www.google.com/maps/place//data=!4m2!3...,"['Online care'], ['Wheelchair accessible entra...",4.9,8,google_maps

##### reviews table

In [4]:
google_reviews = pd.read_parquet('data/google/g_review.parquet')
columnas = ['user_id', 'time', 'text', 'resp.text', 'resp.time', 'gmap_id']
google_reviews = google_reviews[columnas]
google_reviews = google_reviews.rename(columns={'gmap_id': 'business_id'})
google_reviews['id_fuente'] = 'google_maps'
google_reviews

,user_id,time,text,resp.text,resp.time,business_id,id_fuente
0,108317460579141970085,1630760310327,Making West Memphis proud! Love this spot for ...,Thank you very much for your kind words. 😊 ple...,1.631040e+12,0x87d57755954b200d:0x157d3f3bad3d37a4,google_maps
1,102123313902332683437,1631038071292,Small burrito period high price. U dont get yo...,Sorry for your negative experience. No one has...,1.631040e+12,0x87d57755954b200d:0x157d3f3bad3d37a4,google_maps
2,104067094003049131996,1627697592294,I love the food and the staff are very friendly,Thank you. Please hurry back,1.627707e+12,0x87d57755954b200d:0x157d3f3bad3d37a4,google_maps
3,107109337185185980940,1624394171528,It was a New Restaurant and I never had there ...,Hi Mr. Williamson\nThanks for stopping by the ...,1.624395e+12,0x87d57755954b200d:0x157d3f3bad3d37a4,google_maps
4,114611735524979608325,1630615588505,Great food and service,Thank you for stopping in. Please come again s...,1.630669e+12,0x87d57755954b200d:0x157d3f3bad3d37a4,google_maps
...,...,...,...,...,...,...,...
8023876,111700784316688138786,1582150796960,None,None,NaN,0x54906ab48bb5b5dd:0x6fcda20aa5a956e4,google_maps
8023877,106934047323385864102,1507016148701,None,None,NaN,0x54906ab48bb5b5dd:0x6fcda20aa5a956e4,google_maps
8023878,101280517228725679258,1522948702523,None,None,NaN,0x54906ab48bb5b5dd:0x6fcda20aa5a956e4,google_maps
8023879,100502164701787090037,1554647357546,None,None,NaN,0x54906ab48bb5b5dd:0x6fcda20aa5a956e4,google_maps
8023880,114565865037084955721,1618016566171,Dentists AND assistants were fantastic. I had ...,None,NaN,0x5491011860f2bbe1:0x90883adb6576c5c9,google_maps