### Limpieza del dataset de user

In [21]:
import pandas as pd

#### Cargando datos

In [22]:
yelp_user = pd.read_parquet('data\\Yelp\\user-002.parquet')

In [23]:
yelp_user.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [24]:
columns_to_keep = ['user_id', 'name', 'review_count', 'useful', 'cool']
yelp_user_filtered = yelp_user[columns_to_keep]

In [25]:
yelp_user_filtered

                        user_id         name  review_count  useful   cool
0        qVc8ODYU5SZjKXVBgXdI7w       Walker           585    7217   5994
1        j14WgRoU_-2ZE1aw1dXrJg       Daniel          4333   43091  27281
2        2WnXYQFK0hXEoTxPtV2zvg        Steph           665    2086   1003
3        SZDeASXq7o05mMNLshsdIA         Gwen           224     512    299
4        hA5lMy-EnncsH4JoR-hFGQ        Karen            79      29      7
...                         ...          ...           ...     ...    ...
2105592  4QGxxakRZeOlg_qDuxmTeQ     Jennilee            38      74      6
2105593  tmelBbVBGAzXBVfH2u_R6g        Gerry            19      14      2
2105594  tpBznnD6uJN3m_pJubj09w        Emily            26       4      2
2105595  Kst_srPw7GdYydMFYdCtzw  Heatheranne            25      21      5
2105596  mZl-mH3ZIWLRSd_FfvrXFg      Jessica            30      27     17

[2105597 rows x 5 columns]

In [26]:
yelp_user_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   user_id       object
 1   name          object
 2   review_count  int64
 3   useful        int64
 4   cool          int64
dtypes: int64(3), object(2)
memory usage: 80.3+ MB

In [27]:
yelp_user_filtered.isnull().sum()

user_id         0
name            0
review_count    0
useful          0
cool            0
dtype: int64

In [28]:
yelp_user_filtered.duplicated().sum()

117700

In [29]:
yelp_user_filtered.duplicated().value_counts()

False    1987897
True      117700
Name: count, dtype: int64

In [30]:
# Encuentra las filas duplicadas
duplicados = yelp_user_filtered[yelp_user_filtered.duplicated()]

# Cuenta cuÃ¡ntas veces cada fila duplicada aparece
conteo_duplicados = yelp_user_filtered.duplicated().value_counts()

# Imprime las filas duplicadas
print("Filas duplicadas:")
print(duplicados)

# Imprime el conteo de duplicados
print("\nConteo de duplicados:")
print(conteo_duplicados)

Filas duplicadas:
                        user_id         name  review_count  useful   cool
1987897  qVc8ODYU5SZjKXVBgXdI7w       Walker           585    7217   5994
1987898  j14WgRoU_-2ZE1aw1dXrJg       Daniel          4333   43091  27281
1987899  2WnXYQFK0hXEoTxPtV2zvg        Steph           665    2086   1003
1987900  SZDeASXq7o05mMNLshsdIA         Gwen           224     512    299
1987901  hA5lMy-EnncsH4JoR-hFGQ        Karen            79      29      7
...                         ...          ...           ...     ...    ...
2105592  4QGxxakRZeOlg_qDuxmTeQ     Jennilee            38      74      6
2105593  tmelBbVBGAzXBVfH2u_R6g        Gerry            19      14      2
2105594  tpBznnD6uJN3m_pJubj09w        Emily            26       4      2
2105595  Kst_srPw7GdYydMFYdCtzw  Heatheranne            25      21      5
2105596  mZl-mH3ZIWLRSd_FfvrXFg      Jessica            30      27     17

[117700 rows x 5 columns]

Conteo de duplicados:
False    1987897
True      117700
Name: count, dtype: int64

#### Elimino los duplicados ya que no son tantos y no aportan informaciÃ³n favorable

In [31]:
yelp_user_filtered.drop_duplicates(inplace=True)

C:\Users\usuario\AppData\Local\Temp\ipykernel_6012\3220970706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_user_filtered.drop_duplicates(inplace=True)

In [32]:
yelp_user_filtered.duplicated().sum()

0

In [33]:
yelp_user_filtered

                        user_id     name  review_count  useful   cool
0        qVc8ODYU5SZjKXVBgXdI7w   Walker           585    7217   5994
1        j14WgRoU_-2ZE1aw1dXrJg   Daniel          4333   43091  27281
2        2WnXYQFK0hXEoTxPtV2zvg    Steph           665    2086   1003
3        SZDeASXq7o05mMNLshsdIA     Gwen           224     512    299
4        hA5lMy-EnncsH4JoR-hFGQ    Karen            79      29      7
...                         ...      ...           ...     ...    ...
1987892  fB3jbHi3m0L2KgGOxBv6uw  Jerrold            23       7      0
1987893  68czcr4BxJyMQ9cJBm6C7Q     Jane             1       0      0
1987894  1x3KMskYxOuJCjRz70xOqQ  Shomari             4       1      0
1987895  ulfGl4tdbrH05xKzh5lnog  Susanne             2       0      0
1987896  wL5jPrLRVCK_Pmo4lM1zpA      Isa             2       0      0

[1987897 rows x 5 columns]

In [34]:
yelp_user_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1987897 entries, 0 to 1987896
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   user_id       object
 1   name          object
 2   review_count  int64
 3   useful        int64
 4   cool          int64
dtypes: int64(3), object(2)
memory usage: 91.0+ MB

In [36]:
# Guarda el DataFrame filtrado en un archivo Parquet
yelp_user_filtered.to_csv(r'data/Yelp/user_filtrado.csv')