In [4]:
import warnings
import streamlit as st
import pandas as pd
import numpy as np
from connect import cursor, conn
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import geopandas as gpd
from shapely.geometry import Point
from matplotlib.colors import LinearSegmentedColormap

In [38]:
path = '..\\files\\data\\booking\\booking_hotels.csv'

In [39]:
df = pd.read_csv(path)

In [30]:
df.head()

,Unnamed: 0,state,city,name,avg_score,price,reviews_url,hotel_id
0,30517,New Mexico,Rio Rancho,The Reynosa Retreat,100.0,317.251,https://www.booking.com/hotel/us/the-reynosa-r...,1
1,34698,Oklahoma,Edmond,The Arches Walk to Western Ave District,100.0,368.373,https://www.booking.com/hotel/us/the-arches-wa...,2
2,11506,Georgia,Sandy Springs,Modern Midtown Oasis,100.0,551.041,https://www.booking.com/hotel/us/modern-midtow...,3
3,23147,Minnesota,Minneapolis,"Welcoming apartment near lakes,shops & restaur...",100.0,354.997,https://www.booking.com/hotel/us/welcoming-apa...,4
4,43074,Virginia,Fredericksburg,Gilded Carriage Haus with Hot Tub,100.0,1013.284,https://www.booking.com/hotel/us/gilded-carria...,5

In [40]:
import pandas as pd

# Ruta del archivo CSV
file_path = '..\\files\\data\\booking\\booking_hotels.csv'

# Crear DataFrame
df = pd.read_csv(file_path)

# Contar el número de hoteles (name) por combinación de ciudad y estado
cities_hotels_count = df.groupby(['city', 'state'])['name'].nunique().reset_index()
cities_hotels_count.columns = ['city', 'state', 'Number of Hotels']

# Encontrar la ciudad con más hoteles por estado
top_cities_by_state = cities_hotels_count.sort_values(by='Number of Hotels', ascending=False).drop_duplicates('state')

# Mostrar las ciudades con más hoteles por estado
print(top_cities_by_state[['city', 'state', 'Number of Hotels']])

                city                 state  Number of Hotels
125         Florence               Alabama               559
196             Kent            Washington               510
375        St. Cloud             Minnesota               480
340        San Diego            California               474
408         Waterloo                  Iowa               468
15            Athens               Georgia               465
167          Houston                 Texas               451
202        Lafayette               Indiana               450
289             Orem                  Utah               433
236          Meriden           Connecticut               433
185          Kahului                Hawaii               405
274          Norfolk              Nebraska               400
120         Fairmont         West Virginia               385
413        Westbrook                 Maine               384
257     Myrtle Beach        South Carolina               371
401          Waldorf              Maryland               352
290          Orlando               Florida               349
385         Syracuse              New York               348
30          Belgrade               Montana               341
249           Monroe             Louisiana               340
373       St. Albans               Vermont               337
226       Manchester         New Hampshire               333
304          Phoenix               Arizona               328
276           Norman              Oklahoma               318
126         Florence              Kentucky               315
350          Seaford              Delaware               314
70           Chicago              Illinois               284
297         Paterson            New Jersey               259
363     South Valley            New Mexico               258
389         Thornton              Colorado               251
426             York          Pennsylvania               240
228        Manhattan                Kansas               235
116         Evanston               Wyoming               234
383    Sunrise Manor                Nevada               200
317           Racine             Wisconsin               189
234     Meadow Lakes                Alaska               186
364        Southaven           Mississippi               158
4         Alexandria              Virginia               155
66         Charlotte        North Carolina               136
403           Warren              Michigan               136
405       Washington  District of Columbia               135
56            Canton                  Ohio               130
235          Memphis             Tennessee               126
172     Independence              Missouri                91
424        Worcester         Massachusetts                89
305           Pierre          South Dakota                79
311       Post Falls                 Idaho                68
370       Springdale              Arkansas                65
108  East Providence          Rhode Island                56
410       West Fargo          North Dakota                49

In [41]:
import pandas as pd
import plotly.express as px

# Crear una nueva columna combinando ciudad y estado
df['city_state'] = df['city'] + ', ' + df['state']

# Contar el número único de hoteles (hotel_id) por combinación de ciudad y estado
cities_hotels_count = df.groupby('city_state')['hotel_id'].nunique().reset_index()
cities_hotels_count.columns = ['city_state', 'Number of Hotels']

# Seleccionar las 5 ciudades con más hoteles
top_cities = cities_hotels_count.sort_values(by='Number of Hotels', ascending=False).head(5)

# Crear el gráfico de barras horizontales con Plotly Express
fig = px.bar(top_cities, x='Number of Hotels', y='city_state', orientation='h',
             title='Top 5 Cities with Most Hotels', labels={'Number of Hotels': 'Number of Hotels'},
             text='Number of Hotels')  # Mostrar solo el texto a la derecha de las barras

# Ajustar el tamaño del gráfico para dar más espacio a los nombres de las ciudades
fig.update_layout(width=1000, height=400)

# Rotar las etiquetas de las barras para dar más espacio
fig.update_layout(xaxis=dict(tickangle=-45))

# Configurar la posición del texto
fig.update_traces(textposition='outside', insidetextanchor='start')

# Mostrar el gráfico
fig.show()

In [1]:
from connect import conn, cursor, obtener_datos, guardar_en_postgres

In [2]:
usa_cities = obtener_datos(cursor, "usa_cities", "city", "density")
# Cerrar el cursor después de usarlo
cursor.close()

In [ ]:
usa_cities

              city  density
0         New York  11226.2
1      Los Angeles   3202.3
2          Chicago   4648.7
3            Miami   4728.2
4          Houston   1382.2
...            ...      ...
21823       Monowi      1.8
21824    Centralia     13.1
21825     McCarthy      0.0
21826        Supai     24.3
21827     Tarrants     47.7

[21828 rows x 2 columns]

In [3]:
ruta_yelp = "../files/data/yelp/yelp_hotel_reviews.csv"

In [4]:
import pandas as pd

In [5]:
df_yelp = pd.read_csv(ruta_yelp)

In [6]:
# Uso de la función (sustituye con tus propios datos)
nombre_tabla = 'yelp_hotel_reviews'

# Supongamos que tienes un DataFrame llamado 'df' que quieres enviar a la tabla
guardar_en_postgres(df_yelp, nombre_tabla, conn)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe3 in position 161: invalid continuation byte

In [42]:
ruta_yelp = "../files/data/booking/california_hotels.csv"

In [43]:
import pandas as pd

In [44]:
df = pd.read_csv(ruta_yelp)

In [45]:
df.head()

,Unnamed: 0,state,city,name,avg_score,price,stars,reviews_url,attributes,latitude,longitude,Personal,Instalaciones y servicios,Limpieza,Confort,Relación calidad-precio,Ubicación,WiFi Gratis
0,1,California,Los Angeles,W Hollywood,73.0,849.752,4.0,https://www.booking.com/hotel/us/w-hollywood.e...,"['Habitaciones sin humo', '4 restaurantes', 'W...",34.100794,-118.325906,9.4,8.5,9.0,9.0,8.5,9.2,9.1
1,2,California,Los Angeles,Park Plaza Lodge,86.0,466.927,3.0,https://www.booking.com/hotel/us/park-plaza-lo...,"['Restaurante', 'Parking gratis', 'Tetera/cafe...",34.070129,-118.351360,8.7,8.2,8.5,8.6,7.2,8.6,8.5
2,3,California,Los Angeles,Moxy Downtown Los Angeles,79.0,904.364,4.0,https://www.booking.com/hotel/us/moxy-downtown...,"['WiFi gratis', 'Desayuno', 'Terraza', 'Parkin...",34.041151,-118.267341,9.0,9.0,9.1,9.0,8.8,9.0,9.2
3,4,California,Los Angeles,Hollywood Homes minutes to everything SPACIOUS...,88.0,463.104,4.0,https://www.booking.com/hotel/us/hollywood-cos...,"['Habitaciones familiares', 'Aire acondicionad...",34.086662,-118.314868,8.1,7.2,7.7,7.7,7.0,8.4,8.3
4,5,California,Los Angeles,Best Western Hollywood Plaza Inn Hotel - Holly...,72.0,390.267,3.0,https://www.booking.com/hotel/us/best-western-...,"['Habitaciones sin humo', 'Restaurante', 'Adap...",34.107181,-118.337637,8.3,8.4,8.7,8.8,7.6,8.5,8.6

In [46]:
# Mostrar información general sobre el DataFrame
print("Información general del DataFrame:")
df.info()

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1170 non-null   int64
 1   state                      1170 non-null   object
 2   city                       1170 non-null   object
 3   name                       1170 non-null   object
 4   avg_score                  1170 non-null   float64
 5   price                      1170 non-null   float64
 6   stars                      1170 non-null   float64
 7   reviews_url                1170 non-null   object
 8   attributes                 1170 non-null   object
 9   latitude                   1170 non-null   float64
 10  longitude                  1170 non-null   float64
 11  Personal                   1022 non-null   float64
 12  Instalaciones y servicios  1022 non-null   float64
 13  Limpieza                   1022 non-null   float64
 14  Confort                    1022 non-null   float64
 15  Relación calidad-precio    1022 non-null   float64
 16  Ubicación                  1018 non-null   float64
 17  WiFi Gratis                667 non-null    float64
dtypes: float64(12), int64(1), object(5)
memory usage: 164.7+ KB

In [47]:

# Mostrar el tamaño máximo de cada columna
print("\nTamaño máximo de las columnas:")
print(df.apply(lambda x: x.astype(str).str.len().max()))

Tamaño máximo de las columnas:
Unnamed: 0                      4
state                          10
city                           13
name                           95
avg_score                       5
price                           8
stars                           3
reviews_url                  4696
attributes                    346
latitude                       12
longitude                      13
Personal                        4
Instalaciones y servicios       4
Limpieza                        4
Confort                         4
Relación calidad-precio         4
Ubicación                       4
WiFi Gratis                     4
dtype: int64

In [48]:
# Mostrar los tipos de datos de cada columna
print("\nTipos de datos de las columnas:")
print(df.dtypes)

Tipos de datos de las columnas:
Unnamed: 0                     int64
state                         object
city                          object
name                          object
avg_score                    float64
price                        float64
stars                        float64
reviews_url                   object
attributes                    object
latitude                     float64
longitude                    float64
Personal                     float64
Instalaciones y servicios    float64
Limpieza                     float64
Confort                      float64
Relación calidad-precio      float64
Ubicación                    float64
WiFi Gratis                  float64
dtype: object

In [49]:
# Mostrar el tamaño máximo de cada columna en términos de cantidad de caracteres
max_lengths = df.applymap(lambda x: len(str(x))).max()
print("Tamaño máximo de las columnas (en caracteres):")
print(max_lengths)

C:\Users\Leonardo\AppData\Local\Temp\ipykernel_13816\461741490.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  max_lengths = df.applymap(lambda x: len(str(x))).max()

Tamaño máximo de las columnas (en caracteres):
Unnamed: 0                      4
state                          10
city                           13
name                           95
avg_score                       5
price                           8
stars                           3
reviews_url                  4696
attributes                    346
latitude                       12
longitude                      13
Personal                        4
Instalaciones y servicios       4
Limpieza                        4
Confort                         4
Relación calidad-precio         4
Ubicación                       4
WiFi Gratis                     4
dtype: int64