In [1]:
import pandas as pd

In [2]:
# Rutas de los archivos CSV
attractions_file_path = 'files\\data\\usa_attractions.csv'
cities_file_path = 'files\\data\\usa_cities.csv'
clients_reviews_file_path = 'files\\data\\usa_clients_reviews.csv'
clients_file_path = 'files\\data\\usa_clients.csv'
states_file_path = 'files\\data\\usa_states.csv'

In [3]:
# Crear DataFrames
attractions_df = pd.read_csv(attractions_file_path)
cities_df = pd.read_csv(cities_file_path)
clients_reviews_df = pd.read_csv(clients_reviews_file_path)
clients_df = pd.read_csv(clients_file_path)
states_df = pd.read_csv(states_file_path)

### Attractions

In [27]:
attractions_df.head()

,region,state,attraction,n_reviews,categories,state_id
0,East North Central,Illinois,Instituto de Arte de Chicago,24.543,Museos de arte,IL
1,East North Central,Illinois,Parque Millennium,25.133,"Monumentos y lugares de interés, Parques",IL
2,East North Central,Illinois,Museo de Ciencia e Industria,11.184,Museos de ciencia,IL
3,East North Central,Illinois,Cloud Gate,18.279,"Monumentos y lugares de interés, Monumentos y ...",IL
4,East North Central,Illinois,The Magnificent Mile,15.799,"Barrios, Monumentos y lugares de interés",IL

In [4]:
# Suponiendo que 'Unnamed: 0' es el nombre completo de la columna a eliminar
attractions_df = attractions_df.drop('Unnamed: 0', axis=1)

In [5]:
# Corregir nombres de estados en la columna 'state' de attractions_df
attractions_df['state'] = attractions_df['state'].replace('Mississipi', 'Mississippi')
attractions_df['state'] = attractions_df['state'].replace('Luisiana', 'Louisiana')
attractions_df['state'] = attractions_df['state'].replace('Akansas', 'Arkansas')
attractions_df['state'] = attractions_df['state'].replace('Pen', 'Pennsylvania')
attractions_df['state'] = attractions_df['state'].replace('Wioming', 'Wyoming')

In [6]:
# Diccionario de mapeo entre nombres de estados y state_id
state_mapping = dict(zip(states_df['state'], states_df['state_id']))

# Crear la nueva columna 'state_id' en attractions_df basada en el mapeo
attractions_df['state_id'] = attractions_df['state'].map(state_mapping)

### Cities

In [5]:
cities_df.head()

,city_id,city,county,state_id,population,density,latitude,longitude,zips,geometry
0,1.0,New York,Queens,NY,18908608,11226.2,40.6943,-73.9249,11229 11228 11226 11225 11224 11222 11221 1122...,POINT (-73.94343119226887 40.669903385553056)
1,2.0,Los Angeles,Los Angeles,CA,11922389,3202.3,34.1141,-118.4068,91367 90291 90293 90292 91316 91311 90035 9003...,POINT (-118.41211392839487 34.11210884430981)
2,3.0,Chicago,Cook,IL,8497759,4648.7,41.8375,-87.6866,60018 60649 60641 60640 60643 60642 60645 6064...,POINT (-87.68501821557464 41.837082841091316)
3,4.0,Miami,Miami-Dade,FL,6080145,4728.2,25.7840,-80.2101,33128 33129 33125 33126 33127 33149 33144 3314...,POINT (-80.21061554370905 25.776043835020747)
4,5.0,Houston,Harris,TX,5970127,1382.2,29.7860,-95.3885,77069 77068 77061 77060 77063 77062 77065 7706...,POINT (-95.38694447527584 29.768927923193075)

### Clients reviews

In [13]:
clients_reviews_df.head()

,nationality,acommodation,stay,company,review,hotel_id,is_american,date,sentiment
0,Corea del Sur,Suite Estudio con cocina y sofá cama - Cama ex...,27.0,Persona que viaja sola,what a great honor to stay here.\r\nThank you ...,11042,0,2023-11-20,0.525000
1,Taiwán,Den Room with King Bed,4.0,Persona que viaja sola,"Everything works and fairly new, I loved the w...",11042,0,2023-11-15,0.134091
2,Estados Unidos,Suite Estudio con cocina y sofá cama - Cama ex...,4.0,En familia,Weather was ideal\r\nLoved the swimming pool.,11042,1,2023-11-14,0.800000
3,Estados Unidos,"Suite con 1 dormitorio, cama extragrande, sofá...",6.0,En pareja,"I'm here for a couple weeks....So, a little ti...",11042,1,2023-11-08,0.035417
4,Estados Unidos,"Suite con 1 dormitorio, cama extragrande, sofá...",1.0,En familia,The property was nice but expensive for one ni...,11042,1,2023-10-26,0.060000

In [7]:
clients_reviews_df['hotel_id'] = clients_reviews_df['hotel_id'].astype(int)

In [8]:
# Suponiendo que 'Unnamed: 0' es el nombre completo de la columna a eliminar
clients_reviews_df = clients_reviews_df.drop('Unnamed: 0', axis=1)

### Clients

In [7]:
clients_df.head()

,Unnamed: 0,state,city,name,avg_score,price,reviews_url,stars,hotel_id
0,4182,California,Mission Viejo,Hyatt House Irvine/John Wayne Airport,88.0,363.318,https://www.booking.com/hotel/us/hyatt-house-i...,3.0,11042
1,3398,California,San Francisco,Hyatt Regency San Francisco,87.0,806.063,https://www.booking.com/hotel/us/hyatt-regency...,4.0,12695
2,4006,California,San Jose,Hyatt Place San Jose Pinares,87.0,262.134,https://www.booking.com/hotel/cr/hyatt-place-s...,3.0,13042
3,3564,California,San Diego,Manchester Grand Hyatt San Diego,86.0,620.385,https://www.booking.com/hotel/us/manchester-gr...,4.0,13769
4,3500,California,San Francisco,Hyatt Regency San Francisco Downtown SOMA,86.0,1020.140,https://www.booking.com/hotel/us/hyatt-regency...,4.0,13779

### States

In [ ]:
states_df

## Merge por state_id. attractions_df, cities_df, states_df

In [9]:
# Merge de attractions_df, cities_df y states_df por la columna 'state_id'
merged_df_state_id = attractions_df.merge(cities_df, how='left', on='state_id').merge(states_df, how='left', on='state_id')

In [10]:
merged_df_state_id = merged_df_state_id.drop('state_y', axis=1)

In [11]:
# Cambiar el nombre de la columna 'state_x' a 'state'
merged_df_state_id = merged_df_state_id.rename(columns={'state_x': 'state'})

## merge de clients_df y clients_reviews_df por la columna 'hotel_id'

In [12]:
# Merge de clients_df y clients_reviews_df por la columna 'hotel_id'
merged_clients_df = clients_df.merge(clients_reviews_df, how='inner', on='hotel_id')

In [13]:
# Diccionario de mapeo entre nombres de estados y state_id
state_mapping = dict(zip(merged_df_state_id['state'], merged_df_state_id['state_id']))

# Crear la nueva columna 'state_id' en attractions_df basada en el mapeo
merged_clients_df['state_id'] = merged_clients_df['state'].map(state_mapping)

In [15]:
merged_clients_df = merged_clients_df.drop('Unnamed: 0', axis=1)

## Merge de merged_clients_df y merged_df_state_id

In [ ]:
# Merge de merged_clients_df y merged_df_state_id por la columna 'state_id'
final_merged_df = merged_clients_df.merge(merged_df_state_id, how='left', on='state_id')

In [2]:
hotels_file_path = 'files\\data\\usa_hotels.csv'

In [3]:
hotels_df = pd.read_csv(hotels_file_path)

In [7]:
hotels_df.head()

,Unnamed: 0,state,city,name,avg_score,price,reviews_url,stars,hotel_id,direction,description,attributes,latitude,longitude,scores
0,0,Massachusetts,New Bedford,DOMIR Yorktown,100.0,780.980,https://www.booking.com/hotel/us/domir-yorktow...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Arkansas,Fayetteville,Luxury Cozy House - 20 min to FT Liberty!,100.0,402.455,https://www.booking.com/hotel/us/luxury-house-...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Connecticut,New Haven,"Queen Beds, Fast WiFi, Free Parking, Central A...",100.0,659.250,https://www.booking.com/hotel/us/queen-beds-fa...,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Oklahoma,Midwest City,"Walnut, 3BR Townhom Near Downtown, Beach and W...",100.0,1149.716,https://www.booking.com/hotel/us/walnut-3br-to...,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
4,4,New Mexico,Rio Rancho,The Reynosa Retreat,100.0,289.895,https://www.booking.com/hotel/us/the-reynosa-r...,3.0,5,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Definir una longitud mínima deseada
longitud_minima = 5000

# Filtrar los valores de 'reviews_url' con longitud mayor a longitud_minima
reviews_url_largos = hotels_df['reviews_url'][hotels_df['reviews_url'].str.len() > longitud_minima]

In [30]:
reviews_url_largos

Series([], Name: reviews_url, dtype: object)